/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url("/phpmotors/images/site/small_check.jpg");
  font-family: "Sofia Sans", sans-serif;
}

#section {
  padding: 1em;
  background-color: white;
  border-style: solid;
  border-color: #4c96d7;
  margin: auto;
  max-width: 80rem;
}

#header a {
  float: right;
  text-decoration: none;
  color: #3a3a3a;
}

#nav {
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 0.5em 0;
}

#nav li {
  display: inline;
}

#nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 1em;
}

#nav a:hover {
  background-color: #4c96d7;
  color: #3a3a3a;
}

h1 {
  padding-bottom: 0.5em;
  border-bottom: solid;
  border-color: #3a3a3a;
}

#footer p {
  text-align: center;
}

.description {
  color: #3a3a3a;
}

.description img {
  width: 100%;
  position: relative;
}

.description h2 {
  color: #4c96d7;
}

.description p {
  color: #4c96d7;
}

.button {
  padding: 0.5em 1em;
  background-color: #4c96d7;
  color: #3a3a3a;
  font-size: large;
}

@media only screen and (min-width: 34rem) {
  .upgrades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .upgrades section:nth-of-type(1) {
    order: 2;
  }

  .upgrades section:nth-of-type(2) {
    order: 1;
  }
}
